<%- include header.ejs %>
    <body>
        <script src="/loadAticles.js" type="text/babel"></script>
        <div id="box">
            <div id="banner">
                <h1>卓's BLOG</h1>
            </div>
            <%- include sidebar.ejs %>
            <div id="main">
            </div>
<%- include footer.ejs %>