<%- include header.ejs %>
    <body>
        <script type="text/javascript">
            var filename=$('#main')[0].getAttribute('filename');
            console.log("filename:" + filename);
            $.getJSON('/api/post.json?filename='+filename, function(item){
                console.log("get json ok status:"+item.status);
                var txt = markdown.toHTML(item.content);
                var html = `<div id="article">
                        <dl class="linkedlist">
                            <dt>
                                <h2>${item.title}</h2>
                            </dt>
                            <dt class="dateline">
                                <a class="dateline">发表于${item.date}</a>
                            </dt>
                            <dd>
                                <div class="markdown">
                                ${txt}
                                </div>
                            </dd>
                        </dl>
                    </div>`;
                //console.log("html:"+html);
                var div = document.createElement('div');
                div.innerHTML = html;
                main.appendChild(div);
                console.log("good");
            });
        </script>
        <div id="box">
            <div id="banner">
                <h1><a href="/">卓's BLOG</a></h1>
            </div>
            <%- include sidebar.ejs %>
            <div>
            <div id="main" filename="<%-filename%>">
            </div>
            <!-- 来必力City版安装代码 -->
            <div id="lv-container" data-id="city" data-uid="MTAyMC8yOTg3Mi82NDM3">
                <script type="text/javascript">
               (function(d, s) {
                   var j, e = d.getElementsByTagName(s)[0];

                   if (typeof LivereTower === 'function') { return; }

                   j = d.createElement(s);
                   j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                   j.async = true;

                   e.parentNode.insertBefore(j, e);
               })(document, 'script');
                </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
            <!-- City版安装代码已完成 -->
            </div>
<%- include footer.ejs %>
