            <div id="sidebar">
                <p>By <strong>ZHUO</strong></p>
                <ul>
                <li><a href="https://github.com/fuzhuo">Github</a></li>
                <li><a href="http://twitter.com/droidfu">Twitter</a></li>
                </ul>
            </div>
